<nav class="pagination" role="navigation">
    {{#if prev}}
      <a class="newer-posts" href="{{page_url prev}}"><i class="ionicons ion-ios-arrow-back"></i></a>
    {{/if}}
    <span class="page-number">{{page}} of {{pages}}</span>
    {{#if next}}
      <a class="older-posts" href="{{page_url next}}"><i class="ionicons ion-ios-arrow-forward"></i></a>
    {{/if}}
</nav>

<script>
    var newerPost = document.getElementsByClassName('newer-posts');
    var url = '/blog';
    for (i = 0; i < newerPost.length; i++) { 
        if (newerPost[i].getAttribute('href') === '/') {
            newerPost[i].setAttribute('href', url);
        }
    }
</script>