//
// Posts: CSS changes for the post pages
// --------------------------------------------------

.site-wrapper {
	background-color: lightblue;
}

.menu-button {
	border-color: black;

	.burger, .word {
		color: black;
	}
}